<div class="container mt-4 min-vh-100">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <% if @device.present? %>
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center roboto-black-italic">Device Records</h1>
            <p class="card-text"><strong>Device: </strong><%= @device.device_type %></p>
            <p class="card-text"><strong>FoV(mm): </strong><%= @device.fov %></p>
            <p class="card-text"><strong>Device Number: </strong><%= @device.serial_number %></p>
            <p class="card-text"><strong>Customer: </strong><%= @device.customer %></p>
          </div>
          <% if @device_records.present? %>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Date</th>
                    <th scope="col">Ticket Number</th>
                    <th scope="col">Customer Error</th>
                    <th scope="col">LLA Diagnose</th>
                    <th scope="col">Action</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @device_records.each do |device_record| %>

                    <tr>
                      <td><%= device_record.record_date.to_date%></td>
                      <td><%= device_record.ticket_number %></td>
                      <td><%= device_record.customer_problem %></td>
                      <td><%= device_record.lla_diagnose %></td>
                      <td><%= device_record.action %></td>

                      <td>
                        <%= link_to raw('<i class="fas fa-pencil-alt"></i>'), edit_device_record_path(@device, device_record), title: "Edit", class: "btn btn-link" %>
                        <%= link_to raw('<i class="fas fa-trash-alt"></i>'), device_record_path(@device, device_record), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" }, title: "Delete", class: "btn btn-link text-danger" %>
                      </td>

                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <p><%= link_to "Add record", new_device_record_path(@device), class: "btn btn-primary" %> <%= link_to "Back", devices_path, class: "btn btn-primary" %></p>
          <% else %>
            <p class="text-center mt-3">No records available.</p>
            <p><%= link_to "Add record", new_device_record_path(@device), class: "btn btn-primary" %> <%= link_to "Back", devices_path, class: "btn btn-primary" %></p>

          <% end %>
        </div>
      <% else %>
        <p class="text-center mt-3">Device not found.</p>
      <% end %>
    </div>
  </div>
</div>
