<div class="container mt-4 min-vh-100">
  <div class="text-center mb-4">
    <% if @records.present? %>
      <h1 class="h1--text roboto-black-italic"><%= @records.count %> <%= @records.count > 1 ? "records" : "record" %> found</h1>
    <% end %>
  </div>

  <% if @records.present? %>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="text-center">
            <th scope="col">Serial</th>
            <th scope="col">Device</th>
            <th scope="col">Customer</th>
          </tr>
        </thead>
        <tbody>
          <% @records.each do |record| %>
            <tr>
              <td><%= record.serial_number %></td>
              <td><%= record.device_type %></td>
              <td><%= record.customer %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>No records available.</p>
  <% end %>

<%= link_to "Add record", new_record_path, class: "btn btn-primary" %>
</div>
