<h1>I am record index</h1>
<%@records.each do |record|%>
  <p><%= record.ticket_number %></p>
  <p><%= record.customer_problem %></p>
  <p><%= record.lla_diagnose %></p>
  <%= record.action %>


<%end%>
<%= link_to "Add record", new_device_record_path, class: "btn btn-primary" %>
